body{
    background-color: azure;
}

.container{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    margin: 0;
    bottom: 0;
    background-color: red;

}
div{
    flex: 1;
    
}